html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

textarea {
  height: 100%;
  width: 100%;
  resize: none;
  padding: 5px;
  margin: 0;
  border: 1px solid #999;
  border-radius: 3px;
  font-family: 'Ubuntu', sans-serif;
}

iframe {
  height: 100%;
  width: 100%;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px;
}

textarea:hover, textarea:focus, iframe:hover {
  border: 1px solid #428bca;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
  height: 50%;
  padding: 5px 5px 0px 5px;
}

.col-0, .col-1 {
  width: 49.5%;
  height: 97%;
  display: inline-block;
}

#html, #js {
  float: left;
}

#css, #output {
  float: right;
}
